html{
    background-color: #add8e6;
    color: grey;
    font-family: cursive;

}

.profile{
   float: right;
   width: 300px;
   height: auto;
}

.header{
    text-align: center;
    font-size: 30px;

}

.header_2{
    font-weight: bold;
    font-family: "sans-serif";

}

.paragraph{
    max-width: 800px;
    font-size: 25px;
    text-align: left;
    margin-left: 30px;
}

.title{
    position: relative;
    margin-left: 150px;
}

em{
    color: black;
    font-weight: bold;
    text-decoration: underline;
    list-style-type: none;


}

.links{
    margin-left: 1200px;
    display: flex;
    list-style-type: none;

}

.git{
    margin-left: 30px;
    color: black;

}

.linkedin{
    margin-left: 30px;
    color: blue;
}

.programming{
    margin-left: 30px;
}


