<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Aryan Iranpour's Portfolio</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>

    <div class="header">
        <img class="profile" src="/static/aryan_image.png" alt="logo">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <h1 class="title">Aryan Iranpour's Portfolio</h1>
        <p class="header_2">A new Beginning</p>
        <p class="paragraph">Welcome to my Portfolio. This portfolio consists of the many
            different <em><a href="https://github.com/Iranpour-Aryan">programming projects</a></em> that I have programmed and
            also projects that I am currently working on.
            I've created this portfolio to also allow users to get to
            know more about my life and hobbies!
        </p>
        <ul class="links">
            <li>
                <a class="git" href="https://github.com/Iranpour-Aryan">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
            </li>
            <li>
                <a class="linkedin" href="https://www.linkedin.com/in/aryan-iranpour-6673a2207/">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
            </li>
        </ul>

    </div>
    <div class="programming">
        <h1>Programming Experience and Projects</h1>
        <h2>Python Programming in studies</h2>
            <ol>
                <li>Experience in Programming in PyCharm IDE</li>
                <li>Worked with given console outputs and programmed solutions to set problems</li>
                <li>Learnt Object Oriented Programming in Python with the use of Inheritance and arcade libraries</li>

            </ol>
        <h2>Java Programming in studies</h2>
            <ol>
                <li>Experience in Programming in Eclipse IDE</li>
                <li>Worked with given Junit test cases and programmed solutions to set problems</li>
                <li>Programmed OOP problems strictly using arrays</li>
                <li>Enhanced Object Oriented Programming skills with the use of Android Studio Applications</li>
                <li>Learned how Objects, perform at Runtime, perform Aliasing and throwing Exceptions</li>
            </ol>
        <h2>Side Projects</h2>
            <ol>
                <li>Created a Java Space game in Eclipse IDE</li>
                <li>Programmed this Portfolio using HTML, CSS, and flask to run the website</li>
                <li>Created a full stack Crypto Market Web Application using Python, Flask and MongoDB as back-end.
                    Developed the front-end using HTML and CSS
                </li>

            </ol>

    </div>


    </body>
</html>